@import "chico.min.css";

.left { float: left; }
.right { float: right; }
.clear { clear: both; border-top: 1px solid #ccc; }

#contenedor {

	padding: 0;
	width: 600px;
	margin: 0 auto;
	border: 2px solid black;

	section{
		header {
			h1{
				text-transform: capitalize;
				font-size: 31px;
				margin-bottom: 25px;
			}
		}
		aside{
			figure{
				img{ width: 100%; }
			}
		}
		article{
			width: 46%;
			height: 272px;
			form{
				fieldset{
					margin-bottom: 5px;
					label{
						display: inline-block;
					    width: 70px;
					}
					select{  }
					h2.ch-price::before{ content: "$ "; }
					h2.ch-price{ font-size: 36px; }
					p{ font-size: 10px; }
				}
				fieldset:last-of-type{
					margin-top: 20px;
				}
			}
			footer{
				margin-top: 10px;
				.ch-carousel{
					height: 80px;
					.ch-carousel-next, .ch-carousel-prev{
						line-height: 2.3em;
					}
				}
			}
		}

		.bottom{
			.ch-tabpanel{ display: none;
				dd{ padding: 10px 0 10px 30px; }
				dt.question{ color: #3a87ad; }
				dt.answer{ color: #468847; }
			}
			.ch-tabpanel:target{ display: block; }
		}
	}
}